name: Test Uniswap V2 loader

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Global install package CLI version
      run: npm i -g uniswap-v2-loader

    - name: Load first 4 pairs from Uniswap V2 using 2 workers
      run: uniswap-v2-loader --to=4 --multicall_size=2 --workers=2
